<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('_bootstrap_meta')%>
  <title>Home</title>
  <style>
    body {
      font-family:serif ;
      background-color: #a2a4a6;
    }

    #main-container {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
    }

    .card {
      margin-bottom: 20px;
      height: auto;
    }

    .card-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: auto;
    }

    .card-text {
      margin-bottom: auto;
    }

    .btn-primary {
      font-size: 14px;
    }
  </style>
</head>

<body>
  <!-- Header Partial -->
  <%- include('_header')%>

  <div id="main-container">
    <div class="border border-dark" style="width: 45%">
      <div class="bg-dark text-white border-light" style="padding: 5px">
        <div class="mx-auto" style="width: 200px">
          <h4 style="font-family:serif;">Pending Reviews</h4>
        </div>
      </div>
      <div>
        <% for(let emp of toReview) { %>
        <div class="card">
          <div class="card-body">
            <p style="font-family: Arial, Helvetica, sans-serif;">Write a review for :: <p style="background-color: #a2a4a6;"><%=emp.name%></p></p>
            <form action="/review/create-review/<%=emp._id %>" method="post">
              <div class="form-group">
                <textarea class="form-control" rows="3" name="review" placeholder="Give your review"></textarea>
              </div>
              <div style="display: flex; justify-content: flex-end; margin-top: 7px;">
                <button type="submit" class="btn btn-primary">Submit Feedback</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <div class="border border-dark" style="width: 45%">
      <div class="bg-dark text-white border-dark" style="padding: 5px">
        <div class="mx-auto" style="width: 200px">
          <h4 style="font-family: serif;">My Reviews</h4>
        </div>
      </div>
      <div>
        <% for(let i=0; i<myReviews.length; i++) { %>
        <div class="card">
          <div class="card-body">
            <p  style="background-color: #a2a4a6; font-family:'Times New Roman', Times, serif">From: <%=myReviews[i].name%></p>
            <p  style="background-color: #a093cf ;font-family: 'Times New Roman', Times, serif;">Review: <%=myReviews[i].review%></p>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <%- include('_bootstrap_script')%>
</body>

</html>
